<main>
  <section class="hero">
    <div class="content">

      <h1>Our great service </h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas labore porro, asperiores dolores modi odio
        aut
        dignissimos rerum. Eligendi nostrum eaque cum minima vel quia, consequatur dolorem maxime perspiciatis aperiam a
        ipsa mollitia quasi impedit, fugiat id, debitis quo sed.</p>

      <button>Log in</button>
      <button>Register</button>
    </div>
  </section>
</main>

<style>
  .content {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: -50% -50%;
    width: 300px;
  }
</style>