.content {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: -50% -50%;
  width: 300px;
}

.auth-buttons {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
}

.glass {
  position: fixed;
  background-color: #0005;
  inset: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: white;
  padding: 10px;
}

.log-form,
.reg-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
}